DEEPSEEK_API_KEY=your_deepseek_api_key
MODELSTUDIO_API_KEY=your_modelstudio_api_key
OPENAI_API_KEY=your_openai_api_key

# Docker socket host
# windows: //./pipe/docker_engine
# linux/mac: /var/run/docker.sock
DOCKER_SOCKET_HOST=//./pipe/docker_engine
