DEEPSEEK_API_KEY=your_deepseek_api_key
MODELSTUDIO_API_KEY=your_modelstudio_api_key
OPENAI_API_KEY=your_openai_api_key

# Docker socket host
# windows: //./pipe/docker_engine
# linux/mac: /var/run/docker.sock
DOCKER_SOCKET_HOST=//./pipe/docker_engine

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_db_password

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=your_secure_redis_password

# Qdrant
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_API_KEY=your_secure_qdrant_key
