# n8n Configuration
N8N_PORT=5678
N8N_DB_HOST=db-postgres
N8N_DB_PORT=${POSTGRES_PORT:-5432}
N8N_DB_NAME=n8n
N8N_DB_USER=${POSTGRES_USER:-postgres}
N8N_DB_PASSWORD=${POSTGRES_PASSWORD:-123456}
N8N_EXECUTIONS_MAX_AGE=72
